@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /* Brand (verde) */
    --primary: 161 84% 30%;
    --primary-foreground: 0 0% 100%;

    --secondary: 156 30% 96%;
    --secondary-foreground: 161 84% 20%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 156 30% 95%;
    --accent-foreground: 161 84% 18%;

    --destructive: 0 72% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 161 84% 30%;
    --radius: 0.75rem;

    /* Extras */
    --success: 160 84% 35%;
    --warning: 38 92% 50%;
  }

  .dark {
    --background: 222.2 84% 5%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 6%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 6%;
    --popover-foreground: 210 40% 98%;

    --primary: 160 70% 45%;
    --primary-foreground: 222.2 84% 4.9%;

    --secondary: 160 16% 16%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 160 18% 18%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62% 42%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 22%;
    --input: 217.2 32.6% 22%;
    --ring: 160 70% 45%;

    --success: 160 70% 45%;
    --warning: 38 92% 58%;
  }

  * { @apply border-border; }
  body { @apply bg-background text-foreground; }
}